{% extends "main/base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
<section class="general">
    <img src="{% static 'img/30db4c1e8c7c9830d769c28b1f6ee071.jpg' %}" alt="">
    <div class="general__text">
        <div class="general__top">
            <h1>Более<span>10 лет</span></h1>
            <h2>опыта в лечении зубов</h2>
        </div>

        <hr>
        
        <p>Ежедневно команда профессионалов доказывает, что стоматологическая помощь должна быть надежной, доступной и
            быстрой. Мы помогаем людям забыть о проблемах со здоровьем и в полной мере оценить вкус жизни. Экономия
            времени и четкая организация процесса - основополагающие принципы нашей работы.
        </p>
        <p>В современном мире лечение зубов и особенно лечение каналов зубов под микроскопом является стандартом.
            Сегодня уже невозможно представить высококачественные стоматологические услуги без применения операционного
            микроскопа. Однако, такое лечение зубов в России, в частности в нашем городе, пока еще не распространено.
            Лечение под микроскопом - совершенно новый уровень стоматологического мастерства. Мы можем проводить
            поистине виртуозное лечение: спасаем самые сложные зубы, качественно лечим кариес и пломбируем каналы. Вам
            неудачно полечили зуб, в нем снова началось воспаление? Внутри канала обломился инструмент и его не
            получается извлечь? Ваш стоматолог сказал, что зуб нельзя сохранить, и порекомендовал удаление? Зуб будет
            спасен!</p>
    </div>
</section>
{% endblock %}